@media (min-width: 1300px) {    
    body {
        background-color: white;
        padding: 0 2vw 0 2vw ;
    }
    header {
        display: flex;
        width:100%;
        background-color: rgb(249,242,228);
        align-items: center;
        gap: 15vw;
    }
    #logo {
        display: flex;
        width: 25%;
    }
    #imgLogo{
        width: 100%;
    }
    #slogan {
        display: flex;
        justify-content: center;
        background-color: rgb(249,242,228);
    }
    h1 {
        display: flex;
        text-align: center;
        color: rgb(152,111,77);
        font-family: cursive;
        font-size: 4vw;
    }
    nav {
        display: flex;
        width: 100%;
        background-color: rgb(249,242,228);
    }
    #navLeft{
        display: flex;
        align-items: center;
        background-color: rgb(249,242,228);
    }
    ul {
        display: flex;
        list-style-type: none;
        gap: 1vw;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        background-color: rgb(249,242,228);   
    }
    li a {
        text-decoration: none;
        padding: 1.0625vw;
        color: black;
        border: 0.0625vw solid;
    }
    nav ul li a:hover {
        background-color: rgb(152,111,77);
    }
    #navRight {
        margin-left: 4vw;
        display: flex;
        gap: 2vw;
        background-color: rgb(249,242,228);
    }
    .product {
        text-align: center;
        font-family: cursive;
        font-size: 0.9375vw;
        font-weight: bold;
        width: 17%;
    }
    .productPhoto {
        width: 100%;
        border: solid black;
        border-radius: 0.625vw;
    }
    .product:hover {
        font-size: 1.0625vw ;
    }
    .productPhoto:hover {
        border: 0.375vw solid black;
    }
    #eggs {
        width: 21.3%;
        background-color: rgb(249,242,228);
    }
    #eggsPhoto {
        width: 96%;
        border: solid black;
        border-radius: 0.625vw;
    }
    #eggs #eggsPhoto:hover {
        border: 0.375vw solid black;
    }
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(249,242,228);
        padding: 4vw 2vw 4vw 2vw;
    }
    table {
        width: 80%;
        border: 0.125vw solid black;
    }
    table, tr,td,th {
        border: 0.2vw solid black;
        border-collapse: collapse;
        text-align: left;
        padding-top: 0.625vw;
        padding-bottom: 0.625vw;
        padding-left: 0.625vw;
    }
    td,th {
        font-family: cursive;
    }
    th {
        font-size: 1.25vw;
    }
    footer {
        width: 100%;
        background-color: rgb(249,242,228);
    }
}