@media (min-width: 1300px) {    
    body {
        background-color: white;
        padding: 0 2rem 0 2rem ;
    }
    header {
        display: flex;
        width:100%;
        background-color: rgb(249,242,228);
        align-items: center;
        gap: 15rem;
    }
    #logo {
        display: flex;
    }
    #imgLogo{
        width: 18.75rem;
    }
    #slogan {
        display: flex;
        justify-content: center;
        background-color: rgb(249,242,228);

    }
    h1 {
        display: flex;
        text-align: center;
        color: rgb(152,111,77);
        font-family: cursive;
        font-size: 3.75rem;
    }
    nav {
        display: flex;
        width: 100%;
        background-color: rgb(249,242,228);
    }
    #navLeft{
        display: flex;
        align-items: center;
        background-color: rgb(249,242,228);
    }
    ul {
        display: flex;
        list-style-type: none;
        gap: 1rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        background-color: rgb(249,242,228);   
        padding: 0 0 0 0.9rem;  
    }
    li a {
        text-decoration: none;
        padding: 1.0625rem;
        color: black;
        border: 0.0625rem solid;
    }
    nav ul li a:hover {
        background-color: rgb(152,111,77);
    }
    #navRight {
        margin-left: 8rem;
        display: flex;
        gap: 2rem;
        background-color: rgb(249,242,228);
    }
    .product {
        text-align: center;
        font-family: cursive;
        font-size: 0.9375rem;
        font-weight: bold;
    }
    .productPhoto {
        width: 150px;
        border: solid black;
        border-radius: 0.625rem;
    }
    .product:hover {
        font-size: 1.0625rem ;
    }
    .productPhoto:hover {
        border: 0.375rem solid black;
    }
    #eggs #eggsPhoto {
        width: 175px;
        border: solid black;
        border-radius: 0.625rem;
    }
    #eggs #eggsPhoto:hover {
        border: 0.375rem solid black;
    }
    main  {
        padding: 4rem 0 4rem 0;
        text-align: center;
        width: 100%;
        background-color: rgb(249,242,228);
    }
    #description {
        font-family: cursive;
        font-size: 1.25rem;
    }
    footer {
        width: 100%;
        background-color: rgb(249,242,228);
    }
}