/*Mobile Style*/
@media  (max-width: 600px) {
    body {
        background-color: rgb(249, 242, 228);
    }
    /*Header and it's elements*/
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
        background-color: rgb(249, 242, 228);
    }
    #logo {
        background-color: rgb(249, 242, 228);
        width: 75%;
    }
    #imgLogo{     /*Logo*/
        width: 100%;
    }
    #slogan {   /*Slogan: Fluffy Butt Hutt*/
        background-color: rgb(249, 242, 228);
        text-align: center;
        font-size: 3vw;
        font-family: cursive;
        width: 75%;
        color: rgb(152,111,77);
    }

    /*Navigation and it's elements*/
    nav {
        display: flex;
        align-items: center;    /*Centers the <ul> container on the cross axis of the <nav> flex container*/
        justify-content: center;    /*Centers the <ul> container on the main axis of the <nav> flex container*/
        width: 100%;
        background-color: rgb(249, 242, 228);
        padding: 7vw 0 7vw 0;     /*Giving space around <nav> container for visual appeal*/
    }
    ul {
        display: flex;
        list-style-type: none;      /*Removing list bullets*/
        justify-content: center;     /*Centers the <li> items on the main axis of the <ul> flex container*/
        gap: 2vw;      /*Creating space between <li> items*/
        margin: 0;      /*Set to zero to prevent spaces*/
        padding: 0;     /*Set to 0 to remove spaces*/
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(249, 242, 228);
    }
    li a {
        text-decoration: none;      /*Removing link underline from <a>*/
        padding: 1vw;      /*Giving space around <li> characters for visual appeal*/
        color: black;
        border: .8vw solid black;
        font-size: 5Svw;
    }

    /*main and it's elements*/
    main {
        width: 100%;
        background-color: rgb(249,242,228);
    }

    /*section and it's elements*/
    section {
        display: flex;
        flex-direction: column;/*Setting the direction of flex to list elements vertically in the <section> container*/
        align-items: center;    /*Centers elements in the <section> container horizontally */
        gap: 3vw;      /*Creating space beween product <div>*/
    }
   .product {       /*.product is a class that includes the <div> containers of the product's images and text*/
        text-align: center;
        font-family: cursive;
        font-size: 5vw;
        font-weight: bold;
    }
    .productPhoto {     /*.productPhoto is a class for the <div> containers product option images*/
        width: 65%;
        border: solid black;
        border-radius: 1vw;
    }
    /*#eggsPhoto is an id to seperate the egg photo styling from the others (.productPhoto) because the aspect
    ratio of the image is not the same as the others*/  
    #eggsPhoto {
        width: 64%;
        border: solid black;
        border-radius: 1vw;
    }

    /*footer*/
    footer {
        width: 100%;
        background-color: rgb(249,242,228);
    }
}

/*Tablet style*/
@media(min-width: 601px) and (max-width: 1099px) {

}

/*Desktop style*/
@media (min-width: 1100px) {
    body {
        background-color: white;
        padding: 0 2vw 0 2vw;
    }
    header {
        display: flex;
        width:100%;
        background-color: rgb(249,242,228);
        align-items: center;
    }
    #logo {
        display: flex;
        width: 40%;
        background-color: rgb(249,242,228);
    }
    #imgLogo{
        width: 100%;
    }
    #slogan {
        display: flex;
        justify-content: center;
        padding-right: 11vw;
        width: 100%;
        background-color: rgb(249,242,228);

    }
    h1 {
        display: flex;
        color: rgb(152,111,77);
        font-family: cursive;
        font-size: 4vw;
    }
  nav {
        display: flex;
        width: 97.3;
        background-color: rgb(249,242,228);
        padding-left: 2vw;
    }
    ul {
        display: flex;
        list-style-type: none;
        gap: 1vw;
        font-size: .9vw;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        background-color: rgb(249,242,228);   
    }
    li a {
        text-decoration: none;
        padding: 1vw;
        color: black;
        border: 0.15vw solid;
    }
    nav ul li a:hover {
        background-color: rgb(152, 111, 77);
    }
    a:active, a:active {
        color: rgb(152,111,77);
    }
    main  {
        display: flex;
        justify-content: center;
        padding: 4vw 0 4vw 0;
        width: 100%;
        background-color: rgb(249,242,228);
    }
    section {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(249,242,228);
    }
    .product {
        text-align: center;
        font-family: cursive;
        font-size: clamp(0.8vw,1.5vw,1.5vw);  
        font-weight: bold;
        width: 20%;
        background-color: rgb(249,242,228);
    }
    .productPhoto {
        width:85%;
        border: solid black;
        border-radius: 0.625vw;
    }
    .product:hover {
        font-size: 1.6vw ;
    }
    .productPhoto:hover {
        border: .4vw solid black;
    }
    #eggs {
        margin-right: 1.2vw;

        text-align: center;
        font-family: cursive;
        font-size: clamp(0.8vw,1.5vw,1.5vw);  
        font-weight: bold;
        width: 21.3%;
        background-color: rgb(249,242,228);
    }
    #eggsPhoto {
        width: 95%;
        border: solid black;
        border-radius: 0.625vw;
    }
    #eggsPhoto:hover {
        border: .4vw solid black;
    }
    footer {
        width: 100%;
        background-color: rgb(249,242,228);
    }
}